body{
  background-color: lightgray;
  margin: 0px;
}

header{
  background-color: rgb(203, 248, 78);
}

h1{
padding-top: 30px;
margin: 0px;
}

h3{
  padding-left: 20px;
}

#firstP{
  background-color: lightblue;
  padding-left: 30px;
  height: 100px;
}
p{
  margin: 0px; 
}

#img1{
  padding-left: 43px;
}

footer{
  background-color: rgb(203, 248, 78);
  color: white;
  padding-top: 50px;
  height: 130px;
}